.left-box 
		{
			position: absolute;
			top:116px;
			left: 0px;
			height: 800px;
			width:292px;
		}
		.left-box-1 
		{
			position: relative;
			left: 92px;
			margin-top: 100px;
			margin-bottom: 100px;
		}
		.left-box-2
		{
			position: relative;
			left: 92px;
			margin-top: 100px;
			margin-bottom: 100px;
		}
		.left-box-3
		{
			position: relative;
			left: 92px;
			margin-top: 100px;
			margin-bottom: 100px;
		}
		.right-box 
		{
			position: absolute;
			top:116px;
			left: 292px;
			right: 0px;
			background-color: #cccc98;
			height: 1410px;
		}
		.right-box-1 
		{
			position: absolute;
			left: 0px;
			padding: 40px;
			width: 400px;
		}
        .right-box-2
        {
            position: absolute;
            left: 955px;
            background-color: #9d9965;
            width: 100px;
            height: 1410px;
        }
	